@section Styles{
    <link href="~/css/style-media.css" rel="stylesheet">
}

<section class="banner">
    <img src="~/images/cloudBanner.jpeg" />
    <div class="inner-content col-md-12">

        <h1>Upload your Media to the Cloud</h1>




    </div>
</section>

<section class="sec_include">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                <div class="col-xs-12 col-sm-4 col-md-4 mobile-adj_text">

                    <img src="~/images/girl.png" alt="Public" />

                </div>

                <h3>Choose the files you would like to upload</h3>
                <p>Browse from your system, the file you would like to upload. You can add additionall comments in the first field if desired.</p>
                @Html.ActionLink("Manage Media", "Index", "Media")

                <div class="readtext">
                    <!--<a href="#"> Read More...</a>-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

                <img CLASS="DESKTOP-IMG" src="~/images/uptoCloud.jpg" alt="Public" />

            </div>

        </div>
    </div>
</section>

<section class="sec_include-middle">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

                <img src="~/images/sec2.jpg" alt="Public" />

            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 adj_text">

                <h3>View the Uploaded Files</h3>
                <p>You can See the list and even open the files that has been already stored in the cloud </p>
                <div class="readtext">
                    <!--<a href="#"> Read More...</a>-->
                </div>
            </div>
        </div>
</section>








